{% extends "base.html.twig" %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}
    <div>
        <div class="jumbotron">
                <div class="table">
                    <h3>Espace utilisateur</h3>
                    <table class="table table-hover">
                        <tr >
                            <th><button type="button" class="btn btn-primary">Primary</button></th>
                            <th><button type="button" class="btn btn-primary">Primary</button></th>
                            <th><button type="button" class="btn btn-primary">Primary</button></th>
                            <th><button type="button" class="btn btn-primary">Primary</button></th>
                            <th><button type="button" class="btn btn-primary">Primary</button></th>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}